In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
df1 = pd.read_csv("E:\RPI Courses And Stuff\Courses\Data Analytics\PROJECT\Disability_and_Health_Data_System__DHDS_.csv")
df2 = pd.read_csv("E:\RPI Courses And Stuff\Courses\Data Analytics\PROJECT\percent_of_adults_with_obesity_usafacts.csv")

In [5]:
df1.head()

,Rowid,Year,LocationAbbr,LocationDesc,DataSource,Category,Indicator,Response,Data_Value_Unit,Data_Value_Type,...,CategoryID,IndicatorID,Geolocation,LocationID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2
0,2019~11~JOB01~JOB~DISTYPE~SELFDIS~~,2019,DC,District of Columbia,BRFSS,Demographics,Employment status among adults 18 years of age...,Employed,%,Age-adjusted Prevalence,...,DEMOG,JOB,NaN,11,JOB01,AGEADJPREV,DISTYPE,SELFDIS,NaN,NaN
1,NaN,2020,NJ,New Jersey,BRFSS,Demographics,Education level among adults 18 years of age o...,College Graduate,%,Age-adjusted Prevalence,...,DEMOG,EDUCATE,NaN,34,EDUCATE03,AGEADJPREV,DISTYPE,INDDIS,NaN,NaN
2,NaN,2020,WV,West Virginia,BRFSS,Demographics,Education level among adults 18 years of age o...,High School Graduate,%,Age-adjusted Prevalence,...,DEMOG,EDUCATE,NaN,54,EDUCATE02,AGEADJPREV,DISTYPE,INDDIS,NaN,NaN
3,NaN,2020,RI,Rhode Island,BRFSS,Demographics,Income level among adults 18 years of age or o...,"$25,000 to <$35,000",%,Age-adjusted Prevalence,...,DEMOG,INCOMEN,NaN,44,INCOME03,AGEADJPREV,DISTYPE,COGDIS,NaN,NaN
4,NaN,2020,HHS8,HHS Region 8,BRFSS,Demographics,Income level among adults 18 years of age or o...,"$25,000 to <$35,000",%,Age-adjusted Prevalence,...,DEMOG,INCOMEN,NaN,87,INCOME03,AGEADJPREV,DISTYPE,INDDIS,NaN,NaN

In [6]:
df2.head()

,Years,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Alabama (%),0.320,0.330,0.324,0.335,0.356,0.357,0.363,0.362,0.361,0.390,0.399
1,Alabama (%),0.320,0.330,0.324,0.335,0.356,0.357,0.363,0.362,0.361,0.390,NaN
2,Alabama (%),0.320,0.330,0.324,0.335,0.356,0.357,0.363,0.362,0.361,0.390,NaN
3,Alaska (%),0.274,0.257,0.284,0.297,0.298,0.314,0.342,0.295,0.305,0.319,0.335
4,Alaska (%),0.274,0.257,0.284,0.297,0.298,0.314,0.342,0.295,0.305,0.319,NaN

In [7]:
df1['LocationDesc'] = df1['LocationDesc'].str.lower()

df2_new  =df2.drop_duplicates(subset='Years')
df2_new['Years'] = df2_new['Years'].str.replace(r'\(.*\)', '')  # Remove everything inside parentheses
df2_new['Years'] = df2_new['Years'].str.replace(r'\s*%\s*$', '')  # Remove percentages and trim spaces
df2_new['Years'] = df2_new['Years'].str.lower()

In [8]:
df2_new

,Years,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,alabama (%),0.320,0.330,0.324,0.335,0.356,0.357,0.363,0.362,0.361,0.390,0.399
3,alaska (%),0.274,0.257,0.284,0.297,0.298,0.314,0.342,0.295,0.305,0.319,0.335
6,arizona (%),0.251,0.260,0.268,0.289,0.284,0.290,0.295,0.295,0.314,0.309,0.313
9,arkansas (%),0.309,0.345,0.346,0.359,0.345,0.357,0.350,0.371,0.374,0.364,0.386
12,california (%),0.238,0.250,0.241,0.247,0.242,0.250,0.251,0.258,0.262,0.302,0.276
15,colorado (%),0.207,0.205,0.213,0.213,0.202,0.223,0.226,0.230,0.238,0.242,0.251
18,connecticut (%),0.245,0.256,0.250,0.263,0.253,0.260,0.269,0.274,0.291,0.292,0.304
21,delaware (%),0.288,0.269,0.311,0.307,0.297,0.307,0.318,0.335,0.344,0.365,0.339
24,district of columbia (%),0.238,0.219,0.229,0.217,0.221,0.226,0.229,0.247,0.238,0.243,0.247
27,florida (%),0.266,0.252,0.264,0.262,0.268,0.274,0.284,0.307,0.270,0.284,NaN
30,georgia (%),0.280,0.291,0.303,0.305,0.307,0.314,0.316,0.325,0.331,0.342,0.339
33,hawaii (%),0.219,0.236,0.218,0.221,0.227,0.238,0.238,0.249,0.250,0.245,0.250
36,idaho (%),0.271,0.268,0.296,0.289,0.286,0.274,0.293,0.284,0.294,0.311,0.316
39,illinois (%),0.271,0.281,0.294,0.293,0.308,0.316,0.311,0.318,0.316,0.324,0.342
42,indiana (%),0.308,0.314,0.318,0.327,0.313,0.325,0.336,0.341,0.353,0.368,0.363
45,iowa (%),0.290,0.304,0.313,0.309,0.321,0.320,0.364,0.353,0.339,0.365,0.364
48,kansas (%),0.296,0.299,0.300,0.313,0.342,0.312,0.324,0.344,0.352,0.353,0.360
51,kentucky (%),0.304,0.313,0.332,0.316,0.346,0.342,0.343,0.366,0.364,0.366,0.403
54,louisiana (%),0.334,0.347,0.331,0.349,0.362,0.355,0.362,0.368,0.359,0.381,0.386
57,maine (%),0.278,0.284,0.289,0.282,0.300,0.299,0.291,0.304,0.317,0.310,0.319
60,maryland (%),0.283,0.276,0.283,0.296,0.289,0.299,0.313,0.309,0.322,0.310,0.343
63,massachusetts (%),0.227,0.229,0.236,0.233,0.243,0.236,0.258,0.257,0.252,0.244,0.274
66,michigan (%),0.313,0.311,0.315,0.307,0.312,0.325,0.323,0.330,0.360,0.352,0.344
69,minnesota (%),0.257,0.257,0.255,0.276,0.261,0.278,0.284,0.301,0.301,0.307,0.324
72,mississippi (%),0.349,0.346,0.351,0.355,0.356,0.373,0.373,0.395,0.408,0.397,0.391
75,missouri (%),0.303,0.296,0.304,0.302,0.324,0.317,0.325,0.350,0.348,0.340,0.372
78,montana (%),0.246,0.243,0.246,0.264,0.236,0.255,0.253,0.268,0.283,0.285,0.318
81,nebraska (%),0.284,0.286,0.296,0.302,0.314,0.320,0.328,0.341,0.341,0.340,0.359
84,nevada (%),0.245,0.262,0.262,0.277,0.267,0.258,0.267,0.295,0.306,0.287,0.313
87,new hampshire (%),0.265,0.273,0.267,0.274,0.263,0.266,0.281,0.296,0.318,0.299,0.306
90,new jersey (%),0.237,0.246,0.263,0.269,0.256,0.274,0.272,0.256,NaN,0.277,0.282
93,new mexico (%),0.263,0.271,0.264,0.284,0.288,0.283,0.284,0.323,0.317,0.309,0.346
96,new york (%),0.245,0.236,0.254,0.270,0.250,0.255,0.257,0.276,0.271,0.263,0.291
99,north carolina (%),0.291,0.296,0.294,0.297,0.301,0.318,0.321,0.330,0.340,0.336,0.360
102,north dakota (%),0.278,0.297,0.310,0.322,0.310,0.319,0.332,0.351,0.348,0.331,0.352
105,ohio (%),0.297,0.301,0.304,0.326,0.298,0.315,0.338,0.340,0.348,0.355,0.378
108,oklahoma (%),0.311,0.322,0.325,0.330,0.339,0.328,0.365,0.348,0.368,0.364,0.394
111,oregon (%),0.267,0.273,0.265,0.279,0.300,0.287,0.294,0.299,0.290,0.280,0.304
114,pennsylvania (%),0.286,0.291,0.300,0.302,0.300,0.303,0.316,0.309,0.332,0.315,0.333
117,puerto rico (%),0.263,0.284,0.279,0.283,0.295,0.307,0.329,0.329,0.325,0.314,0.360
118,rhode island (%),0.254,0.257,0.273,0.270,0.260,0.266,0.300,0.277,0.300,0.301,0.301
121,south carolina (%),0.308,0.316,0.317,0.321,0.317,0.323,0.341,0.343,0.354,0.362,0.361
124,south dakota (%),0.281,0.281,0.299,0.298,0.304,0.296,0.319,0.301,0.330,0.332,0.384
127,tennessee (%),0.292,0.311,0.337,0.312,0.338,0.348,0.328,0.344,0.365,0.356,0.350
130,texas (%),0.304,0.292,0.309,0.319,0.324,0.336,0.330,0.348,0.340,0.358,0.361
133,utah (%),0.244,0.243,0.241,0.257,0.245,0.254,0.252,0.278,0.292,0.286,0.309
136,vermont (%),0.254,0.237,0.247,0.248,0.251,0.271,0.276,0.275,0.266,0.262,0.290
139,virginia (%),0.292,0.274,0.272,0.285,0.292,0.290,0.300,0.304,0.319,0.322,0.342
142,washington (%),0.265,0.268,0.272,0.273,0.264,0.286,0.277,0.287,0.283,0.280,0.288
146,west virginia (%),0.324,0.338,0.351,0.357,0.356,0.377,0.381,0.395,0.397,0.391,0.406
149,wisconsin (%),0.277,0.297,0.298,0.312,0.307,0.307,0.320,0.320,0.342,0.323,0.339
152,wyoming (%),0.250,0.246,0.278,0.295,0.290,0.277,0.288,0.290,0.297,0.307,0.320

In [9]:
# Reshape the DataFrame using melt
df2_new_melted = pd.melt(df2_new, id_vars='Years', var_name='State', value_name='Value')
df2_new_melted.columns = ["LocationDesc","Year","Obesity_Value"]
df2_new_melted["Year"] = pd.to_numeric(df2_new_melted["Year"])
df2_new_melted['LocationDesc'] = df2_new_melted['LocationDesc'].str.strip()
df2_new_melted

          LocationDesc  Year  Obesity_Value
0          alabama (%)  2011          0.320
1           alaska (%)  2011          0.274
2          arizona (%)  2011          0.251
3         arkansas (%)  2011          0.309
4       california (%)  2011          0.238
..                 ...   ...            ...
567       virginia (%)  2021          0.342
568     washington (%)  2021          0.288
569  west virginia (%)  2021          0.406
570      wisconsin (%)  2021          0.339
571        wyoming (%)  2021          0.320

[572 rows x 3 columns]

In [ ]:
merged_data= df1.merge(df2_new_melted, on=["LocationDesc","Year"])
merged_data

In [10]:
merged_data.to_csv("Data.csv")